Ceci est un test avec twig.<br>
<br>
Donnée renvoyée : {{test}}<br>
<br>
Test article : <a href="/article/1">ici</a><br>
<br>
Le fichier index.php dans le dossier public est le seul chemin d'accès de l'application,
il va rediriger la requête grâce au Routes.php directement à la racine du fichier source.
